.name
{
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	border: 10px solid yellow;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	border-top-right-radius: 5px;
	border-bottom-color:blue;
	float:left;

}
/*h2
{
	font-size: 20px;
	font-family: arial black;
	color:green;
	width: 30px 40px 0 10px;
	height: 50px 30px 10px 0;
	margin: 30px 10px 50px 0;
	padding: 30px;
	display:block;
	border-bottom: 10px solid blue;
}*/



div {
  /*border: 6px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-top: 10px;
  border-radius: 5px;*/
  width: 300px;
  height: 150px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  display:inline-block;
  border: 10px solid green;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border-bottom-width: 10px solid blue;*/
  border-radius: 5px 5px;	
  border-right-color: yellow;
 
}
.container
{
	display: inline-block;
  	margin: 0 1.5%;
  	width: 30%;
  	float: right;
}
.foot
{
	clear: both;
	border-bottom:5px solid blue;
	display: inline-block;
	
	}
.col-1-3 
{
	width: 33.33%;
	float: right;
}
.col-3-3 
{
  width: 66.66%;
  float: left;
  position:relative;
}
.col-1-3,
.col-3-3 
{
  display: inline-block;
  vertical-align: top;

}
.grid,
.col-1-3,
.col-3-3 
{
  padding-left: 15px;
  padding-right: 15px;

}
.container,
.grid 
{
  margin: 0 auto;
  width: 960px;
}
.container 
{
  padding-left: 30px;
  padding-right: 30px;
}
